@*@model EvaluationApp.Models.Students*@
    @model EvaluationApp.Models.ViewModels.EvaluatorViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
name: @Model.Students.Name
<br/>
id :@Model.Students.Id


@{ var upVoteClass = "";
   var downVoteClass = "";

        if (upVoteClass == "clicked")
        {
            Model.UnderstandingYorN = true;
        }
        else if (downVoteClass == "clicked")
        {
            Model.UnderstandingYorN = false;
        }
}

<button btn="class btn-link @upVoteClass" onclick="upVote(@Model.LectureId, @Model.Students.Id);"><i class="glyphicon glyphicon-arrow-up" id="arrowbutton"></i></button>

<button btn="class btn-link @downVoteClass" onclick="downVote(@Model.LectureId, @Model.Students.Id);"><i class="glyphicon glyphicon-arrow-down" id="arrowbutton"></i></button>
